        <nav class="span3">
          <div class="well">
            <% if(typeof(categories) !== "undefined") { %>
            <ul class="nav nav-list">
              <li class="<% if(typeof(common.params.cat) === "undefined") { %>active <%}%>nav-header"><a href="/">全部笔记</a></li>
              <% categories.forEach(function(category){ %>
              <li class="nav-header"><%= category.categoryName  %></li>
                <% if(typeof(category.child) != "undefined") { %>
                <% category.child.forEach(function(child){ %>
                <li<% if(typeof(common.params.cat) !== "undefined" && common.params.cat == child._id ) { %> class="active"<%}%>>
                  <a href="/note/cat/<%= child._id%>"><%= child.categoryName  %></a>
                </li>
                <% }) %>
                <% } %>
              <% }) %>
            </ul>
            <% } %>
          </div>
        </nav>
        <aside class="span9">
          <% if(typeof(categories) !== "undefined") { %>
          <% notes.forEach(function(note){ %>
          <article class="entry">
              <header class="page-header entry-title">
                <h1 class="h1"><a href="/note/show/<%= note._id %>"><%= note.title %></a><br></h1>
              </header>
              <small>
                <span>By: Seanliu</span>
                <time class="entry-date" datetime="<%= note.date %>" pubdate="pubdate" title="<%= note.date %>">Created: <%= note.date %></time>
              </small>
              <p class="entry-content"><%- note.body %> <a href="/note/show/<%= note._id %>">[Read More]</a></p>
          </article>
           <% }) %>
          <% } %>

      <div class="pagination pagination-right">
        <ul>
          <li class="disabled"><a href="#">«</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">»</a></li>
        </ul>
      </div>
      <% if(typeof(common.params.cat) !== "undefined") { %>
      <form>
        <fieldset>
          <legend>在当前分类中发表内容</legend>
          <label>标题：
            <input type="text" id="inputTitle" class="input-block-level" placeholder="">
        </label>
          <label>内容：
            <textarea id="inputContent" class="input-block-level" rows="8" placeholder=""></textarea>
          </label>
          <button type="submit" class="btn">提交</button>
        </fieldset>
      </form>
      <% } %>
      </aside>


