        <nav class="span3">
          <div class="well">
            <ul class="nav nav-list">
              <li class="active nav-header">作者</li>
              <li class="divider"></li>
              <li class="nav-header">Sean Liu</li>
              <li class="nav-header">Twitter</li>
                <li><a href="javascript:void(0);">http://twitter.com/seanliu_net</a></li>
              <li class="nav-header">Github</li>
                <li><a href="javascript:void(0);">http://github.com/seanbox</a></li> 
              <li class="active nav-header">笔记</li>
              <li class="divider"></li>
              <li class="nav-header">发表于</li>
                <li>Monday, August 13, 2012</li>
              <li class="nav-header">最新修改</li>
                <li>Monday, August 13, 2012</li>    
            </ul>
          </div>
        </nav>
        <aside class="span9">
  		    <article class="entry">
              <header class="page-header entry-title">
                <h1 class="h1"><%= note.title %><br></h1>
              </header>
              <small>
                <span>By: Seanliu</span>
                <time class="entry-date" datetime="<%= note.date %>" pubdate="pubdate" title="<%= note.date %>">Created: <%= note.date %></time>
              </small>
              <p class="entry-content"><%- note.body %></p>
          </article>
        </aside>